---
// === OSTATECZNA KONFIGURACJA PRODUKTÓW - WERSJA 1:1 ZGODNA Z POLECENIEM ===
const daneProduktow = {
  dlaCiebie: [
    {
      kategoria: "Podróże", ikona: "podroz",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Podróże i polskie i zagraniczne", link: "https://form.moje.generali.pl/ubezpieczenia-podrozne/zagraniczne/105171" },
        { ubezpieczyciel: "Uniqa", opis: "Koszty leczenia w kraju i za granicą", link: "https://www.uniqa.pl/kalkulator/ubezpieczenie-podrozne/destinations?agent=MTk1NTk0ODA1OjE5NTU5NTI1OQ==" },
        { ubezpieczyciel: "WARTA", opis: "Podróże i Polskie i Zagraniczne", link: "https://www.warta.pl/kalkulator/ubezpieczenie-turystyczne/twoja-podroz?p=ZNIZKAEKSTRAWWW1" },
        { ubezpieczyciel: "Wiener", opis: "dla Turysty", link: "https://sprzedaz.wiener.pl/turystyczne/r/tel-TOUR123" },
        { ubezpieczyciel: "Kontakt", opis: "Zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "Koszty rezygnacji z podróży", ikona: "rezygnacja",
      oferty: [
        { ubezpieczyciel: "Uniqa", opis: "Koszty rezygnacji z podróży", link: "https://www.uniqa.pl/kalkulator/rezygnacjazpodrozy/variants?agent=MTk1NTk0ODA1OjE5NTU5NTI1OQ==" },
        { ubezpieczyciel: "Generali", opis: "Koszty rezygnacji z podróży: i w Polska i za granicą", link: "https://form.moje.generali.pl/ubezpieczenia-podrozne/rezygnacja/105171" },
        { ubezpieczyciel: "Warta", opis: "Koszty odwołania podróży", link: "https://www.warta.pl/kalkulator/ubezpieczenie-rezygnacji-z-podrozy/twoja-podroz?p=ZNIZKAEKSTRAWWW2" },
        { ubezpieczyciel: "Wiener", opis: "Koszty odwołania podróży", link: "https://sprzedaz.wiener.pl/rezygnacjazimprezy/r/tel-rez123456789" },
        { ubezpieczyciel: "Kontakt", opis: "Zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Dziecka", ikona: "dziecko",
      oferty: [
        { ubezpieczyciel: "Uniqa", opis: "NNW dla Dzieci", link: "https://www.uniqa.pl/kalkulator/ubezpieczenie-szkolne-nnw/insurance?PartnerType=PA&PartnerId1=711713&PartnerId2=LP" },
        { ubezpieczyciel: "Uniqa", opis: "NNW dla Studentów", link: "https://www.uniqa.pl/kalkulator/ubezpieczenie-szkolne-nnw/insurance?PartnerType=PA&PartnerId1=711713&PartnerId2=LP" },
        { ubezpieczyciel: "Generali", opis: "NNW dla Twojego Dziecka", link: "https://moje.generali.pl/frontend/www/nnw-dziecka/105171" },
        { ubezpieczyciel: "Generali", opis: "NNW dla Studentów", link: "https://moje.generali.pl/frontend/www/nnw-dziecka/105171" },
        { ubezpieczyciel: "Inter Risk", opis: "NNW dla Twoich Dzieci R", link: "https://klient.interrisk.pl/EduPlusOfertaIndywidualna?agent=VjNRUzhK", kod: "kod: v3qs8j" },
        { ubezpieczyciel: "Inter Risk", opis: "NNW dla Twojego Dziecka D", link: "https://klient.interrisk.pl/EduPlusOfertaIndywidualna?agent=WFVTNVZC", kod: "kod: xus5vb" },
        { ubezpieczyciel: "Warta", opis: "NNW dla Dzieci małych i dużych", link: "https://www.warta.pl/kalkulator/ubezpieczenie-szkolne-nnw/wybor-placowki?p=ZNIZKAEKSTRAWWW5" },
        { ubezpieczyciel: "Wiener", opis: "NNW szkolne", link: "https://sprzedaz.wiener.pl/ubezpieczone-dziecko/r/tel-EDU12345" },
        { ubezpieczyciel: "Wiener", opis: "NNW przedszkolne i szkolne + FOTELIK PLUS", link: "https://sprzedaz.wiener.pl/dzieckozfotelikiem/r/tel-FOTELIK" },
        { ubezpieczyciel: "Kontakt", opis: "Zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Twojego Domu", ikona: "dom",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Twój Dom", link: "https://moje.generali.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Generali", opis: "Twój Dom w budowie", link: "https://moje.generali.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Generali", opis: "Twój Dom: cesja dla Banku", link: "https://moje.generali.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Proama", opis: "mój Dom", link: "https://saleswww.proama.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Wiener", opis: "Twoje Cztery Kąty", link: "https://sprzedaz.wiener.pl/4k/r/tel-4K1234" },
        { ubezpieczyciel: "Kontakt", opis: "Mamy więcej ofert, zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Twojego mieszkania", ikona: "dom",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Twoje Mieszkanie", link: "https://moje.generali.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Proama", opis: "moje Mieszkanie", link: "https://saleswww.proama.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Generali", opis: "Twoje Mieszkanie: cesja dla Banku", link: "https://moje.generali.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Proama", opis: "moje Mieszkanie: cesja dla Banku", link: "https://saleswww.proama.pl/frontend/www/dom/105171" },
        { ubezpieczyciel: "Wiener", opis: "Twoje Cztery Kąty", link: "https://sprzedaz.wiener.pl/4k/r/tel-4K1234" },
        { ubezpieczyciel: "Kontakt", opis: "Mamy więcej ofert, zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Twojego Auta", ikona: "samochod",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Twoje Auto", link: "https://moje.generali.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Generali", opis: "Twoje Auto w leasingu", link: "https://moje.generali.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Generali", opis: "Twoje Auto w kredycie", link: "https://moje.generali.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Proama", opis: "Moje Auto", link: "https://saleswww.proama.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Kontakt", opis: "Moje Auto Elektryczne - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "Przyczepa, skuter, motocykl", ikona: "samochod",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "", link: "https://moje.generali.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Proama", opis: "", link: "https://saleswww.proama.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Kontakt", opis: "Mamy więcej ofert, zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "Ciągnik rolniczy, przyczepa rolnicza", ikona: "ciagnik",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "", link: "https://moje.generali.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Proama", opis: "", link: "https://saleswww.proama.pl/frontend/www/pojazd/105171" },
        { ubezpieczyciel: "Kontakt", opis: "Mamy więcej ofert, zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "Asysta Prawna", ikona: "asysta_prawna",
      oferty: [
        { ubezpieczyciel: "Wiener", opis: "Asysta Prawna", link: "https://sprzedaz.wiener.pl/ochronaiasysta/r/tel-opa1234567890" },
        { ubezpieczyciel: "Kontakt", opis: "Zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Drona", ikona: "dron",
      oferty: [ { ubezpieczyciel: "DRONY", opis: "", link: "https://sprzedaz.wiener.pl/ocpilota/r/tel-DRON123456789" } ],
    },
    {
      kategoria: "Fotowoltaika", ikona: "fotowoltaika",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "PZU", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Wiener", opis: "Fotowoltaika", link: "https://sprzedaz.wiener.pl/ubezpieczenieoze/r/tel-fotowoltaika123" },
      ],
    },
    {
      kategoria: "NNW dla Ciebie", ikona: "nnw",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "NNW dla Ciebie (osoby dorosłe)", link: "https://moje.generali.pl/frontend/www/nnw-indywidualne/105171" },
        { ubezpieczyciel: "PZU", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Warta", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Uniqa", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Kontakt", opis: "Mamy więcej ofert, zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "dla Twojego jachtu", ikona: "jacht",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "Pomoc na drodze dla Twojego Auta i ... Rowera", ikona: "assistance",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Pomoc na drodze i holowanie", link: "https://form.moje.generali.pl/assistance/105171" },
        { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "z myślą o wynajmie", ikona: "wynajem",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
  ],
  dlaFirmy: [
    {
      kategoria: "flota samochodowa od 5 aut", ikona: "samochod",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "Twój wyjazd służbowy", ikona: "podroz",
      oferty: [
        { ubezpieczyciel: "Wiener", opis: "Business Travel", link: "https://sprzedaz.wiener.pl/podrozebiznesowe/r/tel-BT12" },
        { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "NNW dla Twoich Pracowników", ikona: "nnw",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "majątek Twojej firmy", ikona: "firma",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "dla Strażaków", ikona: "strazak",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "dla Firmy i jej pracowników: Odpowiedzialność Cywilna", ikona: "oc_zawodowe",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "dla branży IT", ikona: "it",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "Pomoc na drodze dla Twojego Auta", ikona: "assistance",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Pomoc na drodze i holowanie", link: "https://form.moje.generali.pl/assistance/105171" },
        { ubezpieczyciel: "Kontakt", opis: "PZU, WARTA, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "OC zawodowe", ikona: "oc_zawodowe",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
  ],
  dlaCiebieNaZycie: [
    {
      kategoria: "Lekarze bez granic, Best Doctors", ikona: "lekarz",
      oferty: [
        { ubezpieczyciel: "Wiener", opis: "MEDIPASS RET", link: "https://sprzedaz.wiener.pl/medipass/r/tel-MEDI123" },
        { ubezpieczyciel: "Uniqa", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Generali", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Hestia", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "Pakiet na życie dla Ciebie", ikona: "zycie",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "", link: "https://portal.generali.pl/ewniosek/eshop/egpr/apk" },
        { ubezpieczyciel: "Uniqa", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "PZU", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Hestia", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "na życie pod kredyt", ikona: "kredyt",
      oferty: [
        { ubezpieczyciel: "Generali", opis: "Zabezpieczenie kredytu", link: "https://portal.generali.pl/ewniosek/eshop/egpr/apk" },
        { ubezpieczyciel: "Uniqa", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "PZU", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Hestia", opis: "otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" },
        { ubezpieczyciel: "Kontakt", opis: "Zadzwoń lub wypełnij formularz, bezpłatna wycena - oddzwonimy do Ciebie", link: "/formularz-kontaktowy", typ: "formularz" },
      ],
    },
    {
      kategoria: "na życie dla Pracowników", ikona: "pracownicy",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, Hestia, Uniqa, Generali, otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
    {
      kategoria: "na zdrowie dla Ciebie i Pracowników", ikona: "zdrowie",
      oferty: [ { ubezpieczyciel: "Kontakt", opis: "PZU, Generali, Hestia, Uniqa - otwiera się formularz do wypełnienia i wysłania", link: "/formularz-kontaktowy", typ: "formularz" } ],
    },
  ],
};

const ikony = {
  samochod: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.125-.504 1.125-1.125V14.25m-17.25 4.5v-1.875a3.375 3.375 0 0 1 3.375-3.375h9.75a3.375 3.375 0 0 1 3.375 3.375v1.875M3.375 14.25V6.375A2.25 2.25 0 0 1 5.625 4.5h12.75c1.24 0 2.25.75 2.25 2.25v1.125" /></svg>`,
  dom: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" /></svg>`,
  podroz: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12.75.75v12m0 0 2.25-2.25M12.75 12.75 10.5 10.5M.75 12.75h11.25m6-3.375c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125-1.125H3.375c-.621 0-1.125-.504-1.125-1.125v-1.5c0-.621.504-1.125 1.125-1.125h14.25ZM12 6.375v2.25" /></svg>`,
  zycie: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg>`,
  dziecko: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>`,
  rezygnacja: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>`,
  dron: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" /></svg>`,
  formularz: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 7.5h7.5m-7.5 3h7.5m-7.5 3h7.5m3-9h.375c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-12.75c-.621 0-1.125-.504-1.125-1.125V5.625c0-.621.504-1.125 1.125-1.125H6.375m3.375 0-3-3m0 0h3.75" /></svg>`,
  telefon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 6.75Z" /></svg>`,
  ciagnik: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" /></svg>`,
  asysta_prawna: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" /></svg>`,
  fotowoltaika: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" /></svg>`,
  nnw: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>`,
  jacht: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 18.75v-1.5a1.5 1.5 0 0 1 1.5-1.5h13.5a1.5 1.5 0 0 1 1.5 1.5v1.5m-16.5 0-1.5 3.75m19.5 0-1.5-3.75m-16.5 0h16.5" /></svg>`,
  assistance: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" /></svg>`,
  wynajem: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>`,
  strazak: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6A2.25 2.25 0 0 0 5.25 5.25v3.75m10.5 0v3.75m-10.5-3.75v3.75m10.5 0v3.75C15.75 16.903 13.84 18 11.25 18s-4.5-1.097-4.5-2.25V9m9 0h-9" /></svg>`,
  it: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" /></svg>`,
  firma: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6h1.5m-1.5 3h1.5m-1.5 3h1.5M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" /></svg>`,
  oc_zawodowe: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" /></svg>`,
  lekarz: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-6h6" /></svg>`,
  kredyt: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h6m3-3.75l-3 3m0 0l-3-3m3 3V15" /></svg>`,
  pracownicy: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m-7.5-2.952a4.5 4.5 0 0 1 4.5 0m-4.5 0a4.5 4.5 0 0 0-4.5 0m12 .53a9.094 9.094 0 0 0-3.742-.479m-4.5 0a9.094 9.094 0 0 0-3.742.479M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 4.5a4.5 4.5 0 0 0 .094-8.956 4.5 4.5 0 0 0-8.956 .094Z" /></svg>`,
  zdrowie: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-6h6" /></svg>`,
  link_zewnetrzny: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg>`
};
---
<section class="products">
  <div class="container">
    <h2>Wybierz ubezpieczenie, którego potrzebujesz</h2>
    <div class="tabs">
      <button class="tab-button active" data-tab="dlaCiebie">Dla Ciebie</button>
      <button class="tab-button" data-tab="dlaFirmy">Dla Firmy</button>
      <button class="tab-button" data-tab="dlaCiebieNaZycie">dla Ciebie na życie</button>
    </div>
    <div id="dlaCiebie" class="tab-content active">
      <div class="category-grid">
        {daneProduktow.dlaCiebie.map((kategoria, index) => (
          <div class="category-card" data-tab="dlaCiebie" data-index={index}>
            <div class="card-icon" set:html={ikony[kategoria.ikona]} />
            <h3>{kategoria.kategoria}</h3>
          </div>
        ))}
      </div>
    </div>
    <div id="dlaFirmy" class="tab-content">
       <div class="category-grid">
        {daneProduktow.dlaFirmy.map((kategoria, index) => (
          <div class="category-card" data-tab="dlaFirmy" data-index={index}>
            <div class="card-icon" set:html={ikony[kategoria.ikona]} />
            <h3>{kategoria.kategoria}</h3>
          </div>
        ))}
      </div>
    </div>
    <div id="dlaCiebieNaZycie" class="tab-content">
       <div class="category-grid">
        {daneProduktow.dlaCiebieNaZycie.map((kategoria, index) => (
          <div class="category-card" data-tab="dlaCiebieNaZycie" data-index={index}>
            <div class="card-icon" set:html={ikony[kategoria.ikona]} />
            <h3>{kategoria.kategoria}</h3>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
<div id="product-modal" class="modal-overlay">
  <div class="modal-content">
    <button id="modal-close" class="modal-close-button">&times;</button>
    <h2 id="modal-title">Wybierz ofertę</h2>
    <div id="modal-offers" class="offers-container">
    </div>
  </div>
</div>
<script define:vars={{ daneProduktow, ikony }}>
  document.addEventListener('DOMContentLoaded', () => {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');
    const categoryCards = document.querySelectorAll('.category-card');
    const modal = document.getElementById('product-modal');
    const modalTitle = document.getElementById('modal-title');
    const modalOffers = document.getElementById('modal-offers');
    const modalClose = document.getElementById('modal-close');
    tabButtons.forEach(button => {
      button.addEventListener('click', () => {
        tabButtons.forEach(btn => btn.classList.remove('active'));
        tabContents.forEach(content => content.classList.remove('active'));
        button.classList.add('active');
        document.getElementById(button.dataset.tab).classList.add('active');
      });
    });
    categoryCards.forEach(card => {
      card.addEventListener('click', () => {
        const tab = card.dataset.tab;
        const index = parseInt(card.dataset.index, 10);
        const kategoria = daneProduktow[tab][index];
        
        modalTitle.textContent = kategoria.kategoria;
        modalOffers.innerHTML = ''; 
        kategoria.oferty.forEach(oferta => {
          const offerTile = document.createElement('a');
          offerTile.href = oferta.link;
          offerTile.className = 'offer-tile';
          
          let iconHTML = '';
          if (oferta.typ === 'formularz') {
              iconHTML = ikony['telefon'];
              offerTile.classList.add('is-contact');
          } else {
              iconHTML = ikony['link_zewnetrzny'];
          }
          
          if (oferta.typ !== 'formularz') {
            offerTile.target = '_blank';
            offerTile.rel = 'noopener noreferrer';
          }

          let kodInfo = '';
          if (oferta.kod) {
            kodInfo = `<p class="promo-code">${oferta.kod}</p>`;
          }
          
          offerTile.innerHTML = `
            <div class="offer-tile-icon">${iconHTML}</div>
            <div class="offer-tile-info">
              <strong>${oferta.ubezpieczyciel}</strong>
              <p>${oferta.opis}</p>
            </div>
            <div class="offer-tile-arrow">→</div>
            ${kodInfo}
          `;
          modalOffers.appendChild(offerTile);
        });
        
        modal.classList.add('active');
      });
    });
    const closeModal = () => modal.classList.remove('active');
    modalClose.addEventListener('click', closeModal);
    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        closeModal();
      }
    });
  });
</script>
<style>
:root {
  --kolor-glowny-ciemny: #0D2C4F;
  --kolor-akcentu: #FFC107;
  --kolor-tla-jasny: #F8F9FA;
  --kolor-tekstu-ciemny: #343A40;
  --kolor-bialy: #FFFFFF;
}
.products {
  padding: 80px 20px;
  background-color: var(--kolor-tla-jasny);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.products h2 { margin-bottom: 3rem; }
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ddd;
}
.tab-button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  color: #888;
  position: relative;
  transition: color 0.3s ease;
}
.tab-button:hover { color: var(--kolor-glowny-ciemny); }
.tab-button.active {
  color: var(--kolor-glowny-ciemny);
  font-weight: bold;
}
.tab-button.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--kolor-akcentu);
}
.tab-content { display: none; }
.tab-content.active { display: block; }
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
.category-card {
  background: var(--kolor-bialy);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}
.category-card .card-icon {
  width: 50px;
  height: 50px;
  color: var(--kolor-akcentu);
  background-color: var(--kolor-glowny-ciemny);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.category-card .card-icon svg {
  width: 28px;
  height: 28px;
}
.category-card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--kolor-glowny-ciemny);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 44, 79, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-content {
  background: var(--kolor-tla-jasny);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}
.modal-overlay.active .modal-content {
  transform: translateY(0);
}
.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #e9ecef;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}
.modal-close-button:hover {
  background-color: #ced4da;
  color: #333;
}
#modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.offers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.offer-tile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  background: var(--kolor-bialy);
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
}
.offer-tile:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.offer-tile-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--kolor-tla-jasny);
  border-radius: 50%;
  color: var(--kolor-glowny-ciemny);
}
.offer-tile-icon svg {
  width: 24px;
  height: 24px;
}
.offer-tile-info {
  flex-grow: 1;
  text-align: left;
}
.offer-tile strong {
  display: block;
  font-size: 1.2rem;
  color: var(--kolor-glowny-ciemny);
}
.offer-tile p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c757d;
}
.offer-tile-arrow {
  font-size: 1.5rem;
  color: #ccc;
  transition: color 0.2s;
}
.offer-tile:hover .offer-tile-arrow {
  color: var(--kolor-akcentu);
}
.promo-code {
  position: absolute;
  bottom: -10px;
  right: 15px;
  font-size: 0.75rem !important;
  color: var(--kolor-tekstu-ciemny) !important;
  background-color: #e9ecef;
  padding: 3px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.offer-tile.is-contact {
  background-color: var(--kolor-glowny-ciemny);
}
.offer-tile.is-contact strong,
.offer-tile.is-contact p {
  color: var(--kolor-bialy);
}
.offer-tile.is-contact .offer-tile-icon {
  background-color: var(--kolor-akcentu);
  border: none;
}
</style>